/* General Styling */

.news-card img {
    width: 100%; /* Ensure the image takes the full width of its container */
    height: 220px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image fills the space while maintaining aspect ratio */
  }
  .news-card .card-text {
    display: -webkit-box; /* Enables truncating for multi-line text */
    -webkit-line-clamp: 3; /* Limits text to 3 lines */
    -webkit-box-orient: vertical;

  }

  .full-width-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .center-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  